# API Requests

## Importing

In [3]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import time
plt.style.use('seaborn')

## Get Request

In [4]:
google = requests.get('http://google.com')
type(google)

requests.models.Response

In [5]:
requests.get('http://google.com')

### Response Types

## Methods and Attributes

`text`, `json`, `cookies`, `content`, `headers`, `status_code`

In [6]:
google.status_code

200

### Real-time Data

http://open-notify.org

In [7]:
iss = requests.get('http://api.open-notify.org/iss-now.json')
iss.json()

{'message': 'success',
 'timestamp': 1618339073,
 'iss_position': {'latitude': '50.4761', 'longitude': '-106.6261'}}

In [8]:
iss_dict = iss.json()
requests.get('http://api.open-notify.org/astros.json')

In [9]:
iss = requests.get('http://api.open-notify.org/iss-now.json')
iss_dict = iss.json()
iss_dict['iss_position']['longitude']

'-105.7204'

In [10]:
people = requests.get('http://api.open-notify.org/astros.json')

In [11]:
people_dict = people.json()

In [12]:
people_dict['number']

10

In [13]:
print('There are ' + str(requests.get('http://api.open-notify.org/astros.json').json()['number']) + " in space right now")

There are 10 in space right now

### Loop over Dictionary

In [14]:
list_people = people_dict['people']

In [15]:
i = 1
for p in list_people:
    print(str(i) + ' ' +str(p['name']))
    i += 1

1 Sergey Ryzhikov
2 Kate Rubins
3 Sergey Kud-Sverchkov
4 Mike Hopkins
5 Victor Glover
6 Shannon Walker
7 Soichi Noguchi
8 Mark Vande Hei
9 Oleg Novitskiy
10 Pyotr Dubrov

In [16]:
iss.apparent_encoding

'ascii'

### DataFrame

In [17]:
import pandas as pd
pd.DataFrame(iss.json())

           message   timestamp iss_position
latitude   success  1618339082      50.6076
longitude  success  1618339082    -105.7204

## Web Scraping

https://weather.com/en-IE/weather/today/l/53.34,-6.27

In [189]:
r = requests.get('https://weather.com/en-IE/weather/today/l/53.34,-6.27')
type(r)

requests.models.Response

### Parsing

#### Beautiful Soup

In [6]:
from bs4 import BeautifulSoup as bs

In [190]:
forecast = bs(r.content, 'lxml')

In [195]:
forecast.title

In [196]:
forecast.title.text

'Dublin, Dublin Weather Forecast and Conditions - The Weather Channel | Weather.com'

In [191]:
wthf = forecast.findAll("span", {"class":'CurrentConditions--tempValue--3KcTQ'})

In [192]:
wthf[0].text

'6Â°'

### Scraping a Table

BBC Sport Paralympic Medal Table: https://www.bbc.com/sport/disability-sport/58267874

In [86]:
medals = requests.get('https://www.bbc.com/sport/disability-sport/58267874')
gold = bs(medals.content, 'lxml')

Our table can be identified by `class="gs-o-table story-body__table"`

We can use `find()` (returns first match) instead of `findAll()` (returns a list of matches).

In [98]:
table = gold.find("table", {"class":"gs-o-table story-body__table"})

And Pandas has a `read_html` function to convert a string into a DataFrame. This will return a list of DataFrames. We will pull out the first (and only) item.

In [111]:
pd.read_html(str(table))[0]

    Rank         Country  Gold  Silver  Bronze  Total
0      1           China    96      60      51    207
1      2   Great Britain    41      38      45    124
2      3             USA    37      36      31    104
3      4             RPC    36      33      49    118
4      5     Netherlands    25      17      17     59
..   ...             ...   ...     ...     ...    ...
81    78      Montenegro     0       0       1      1
82    78            Oman     0       0       1      1
83    78           Qatar     0       0       1      1
84    78  Chinese Taipei     0       0       1      1
85    78          Uganda     0       0       1      1

[86 rows x 6 columns]