# SQL

In [1]:
import pandas as pd

In [2]:
netflix = pd.read_csv('data/netflix_titles.csv')

For defining the table, I wanted to check the maximum lengths of each of the columns. Here is a nested loop I made to check the maximum length in each column.

In [4]:
def max_lens(df):
    lens = []
    for x in df.columns:
        sublen = []
        for i, row, in df.iterrows():
            sublen.append(len(str(row[x])))
        lens.append(max(sublen))
    return lens

In [5]:
max_lens(netflix)

[5, 7, 104, 208, 771, 123, 19, 4, 8, 10, 79, 248]

## Querying Database

### Establishing Connection

In [3]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password1234",
    database='sys')

### Create Cursor Object

In [5]:
# Run the SQL query
mycursor = mydb.cursor()
mycursor

### Executing SQL Query

In [6]:
mycursor.execute("Select * from netflix")

### Fetching Results from Cursor Object

In [7]:
myresults = mycursor.fetchall()
type(myresults)

list

In [8]:
myresults[0]

('s1',
 'TV Show',
 '3%',
 '',
 'João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi',
 'Brazil',
 'August 14, 2020',
 2020,
 'TV-MA',
 '4 Seasons',
 'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
 'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.')

In [10]:
mycursor.column_names # Returning the column names from the table

('SHOW_ID',
 'TYPE',
 'TITLE',
 'DIRECTOR',
 'CAST',
 'COUNTRY',
 'DATE_ADDED',
 'RELEASE_YEAR',
 'RATING',
 'DURATION',
 'LISTED_IN',
 'DESCRIPTION')

### Saving as DataFrame

In [13]:
df = []   # Initialising empty list
for x in myresults:    # for loop to append each entry to a new list of lists
    df.append(list(x)) 
df = pd.DataFrame(df)  # Convert list of lists into a DataFrame
df.columns = mycursor.column_names # Add the columns names
df.head()

,SHOW_ID,TYPE,TITLE,DIRECTOR,CAST,COUNTRY,DATE_ADDED,RELEASE_YEAR,RATING,DURATION,LISTED_IN,DESCRIPTION
0,s1,TV Show,3%,,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,"January 5, 2019",2016,TV-PG,124 min,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,"March 1, 2016",2016,R,90 min,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,,David Attenborough,United Kingdom,"December 3, 2018",2017,TV-G,1 Season,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...

### Combining into a Function

In [14]:
def query(sql):
    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="password1234",
        database='sys')

    # Run the SQL query
    mycursor = mydb.cursor()
    mycursor.execute(sql)
    myresults = mycursor.fetchall()
    
    # For Loop to Create DataFrame
    df = []
    for x in myresults:
        df.append(list(x))
    df = pd.DataFrame(df)
    df.columns = mycursor.column_names
    return df

In [15]:
query('Select * from Netflix').head()

,SHOW_ID,TYPE,TITLE,DIRECTOR,CAST,COUNTRY,DATE_ADDED,RELEASE_YEAR,RATING,DURATION,LISTED_IN,DESCRIPTION
0,s1,TV Show,3%,,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s10,Movie,1920,Vikram Bhatt,"Rajneesh Duggal, Adah Sharma, Indraneil Sengup...",India,"December 15, 2017",2008,TV-MA,143 min,"Horror Movies, International Movies, Thrillers",An architect and his wife move into a castle t...
2,s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,"January 5, 2019",2016,TV-PG,124 min,"Dramas, International Movies, Sports Movies",Three Indonesian women break records by becomi...
3,s1000,Movie,Blue Mountain State: The Rise of Thadland,Lev L. Spiro,"Alan Ritchson, Darin Brooks, James Cade, Rob R...",United States,"March 1, 2016",2016,R,90 min,Comedies,New NFL star Thad buys his old teammates' belo...
4,s1001,TV Show,Blue Planet II,,David Attenborough,United Kingdom,"December 3, 2018",2017,TV-G,1 Season,"British TV Shows, Docuseries, Science & Nature TV",This sequel to the award-winning nature series...